[2016-01-29 14:03] fabiobon opened #2 "Uncaught ReferenceError: Joi is not defined"
Sorry, could you create a sample of integration in browser?
Thanks

[2016-01-29 14:32] fabiobon commented on #2
SOLVED: There's an error inside (webpack.config.js)
  output: {
    libary: 'Joi',

[2016-01-29 16:41] jeffbski commented on #2
Yes, I need to create an example for use. The webpack.confg.js is what I use to build the package which gets uploaded to npm, not what you would use to consume it in your app. So I need to provide a nice example of how people consume this from webpack and browserify.

Thanks for the issue.

[2016-02-17 20:24] jeffbski commented on #2
I added some usage information to the README to help people in using joi-browser.

[2016-02-17 20:24] #2 closed

[2016-05-11 12:24] dominics opened #3 "CSP violation in isemail"
I wonder if you might consider merging a patch like https://github.com/lann/isemail/compare/master...patch-1 ahead of upstream? Seems pretty safe to me, and it would let me turn `unsafe-eval` off in my CSP policy. :tada:

(Last activity on the upstream PR was December)

[2016-05-11 14:48] jeffbski commented on #3
I'd prefer to see if we can get this merged into isemail so we don't stray from the main codeline, that could quickly become a maintenance nightmare.

I just posted a comment on the PR in isemail to see if we could get this merged. I think it just got forgotten about, so we need to awakend the discussion.

[2016-05-30 09:12] mancioshell opened #4 "Object doesn't support property or method 'assign'"
Hi @jeffbski ! Thank you for your helpful project.

It works fine for Google Chrome, but for IE11 there is an issue:

`Object doesn't support property or method 'assign' `

This is caused because Object.assign, used in Joi is not supported in IE11, as E6 Compatibility table shows:

https://kangax.github.io/compat-table/es6/#test-Object_static_methods_Object.assign

Maybe this issue could be solved

[2016-05-31 16:43] jeffbski commented on #4
Nice catch. Some ES6 features require a polyfill and I didn't realize they were using Object.assign which is one of those features.

As you suggested, I used the babel plugin to transform the code so the polyfill wouldn't be necessary  and it appears to work fine.

Please test it in IE11 since I don't have a copy of that to test in.

I published the new version to npm as 8.0.6.

[2016-05-31 16:43] #4 closed

[2016-05-31 16:51] jeffbski commented on #3
It looks like it is merged into isemail@master and should land in isemail@2.2.0 so hopefully once it does then joi and joi-browser can pick it up.

https://github.com/hapijs/isemail/pull/12

[2016-07-12 22:45] jmsegrev opened #6 "Extend function missing"
For some reason, new extend function in Joi 9.0.0 is not defined in the Joi build. For the npm published package.

[2016-07-13 11:43] jeffbski commented on #6
@jmsegrev Thanks for reporting this. I'll take a look and see if I can figure out why that is missing.

[2016-07-13 14:56] jmsegrev commented on #6
@jeffbski To update, it just seams that the build of the actual npm version is still on an older one (berfore Joi 9.0.0). I cloned the repo and after running the build, everything is working fine. Right now I'm using my fork, but will like to use the one from npm.

[2016-07-15 13:14] vam opened #7 "A key named `watch` causes a problem with Firefox"
A strange bug.. The following definition of a schema causes an error in Firefox (47.0.1)
[code]
The error is: `TypeError: groups[group].push is not a function` and the debugging shows that `groups[group]` is actually equal to `Object.prototype.watch`

Chrome & Safari don't throw this error.

(BTW: Thanks for this package!)

[2016-07-15 13:43] vam commented on #7
This is actually a problem of the `topo` library.

[2016-07-15 13:43] #7 closed

[2016-07-20 22:41] jeffbski commented on #6
@jmsegrev I guess I had updated the package.json but hadn't updated the actual module before building. Well anyway, I have updated to 9.0.1 (and updated the package this time) and published to npm. Let me know if this new version is ok. Thanks.

[2016-07-22 01:05] jmsegrev commented on #6
@jeffbski Everything is ok, thanks.

[2016-07-22 01:05] #6 closed

[2016-08-15 21:32] TCMiranda opened #8 "Why "joi-browser" is not bundled with Joi to browser targets???"
It seems so wrong that a complete, well maintained, framework-agnostic library like Joi does not aim to have a global support on the Javascript environment.

You should merge the webpack script into Joi
As it removes unsupported features, it is ok merge it and improve the browser support progressively.

Sorry for posting this like an issue, but it seems right since both repositories could me menti

[2016-08-15 21:56] Marsup commented on #8
Because while it works well for some people and I thank @jeffbski for making it, I disagree with the philosophy of this ecosystem. https://github.com/hapijs/joi/issues/944

That is unless you have a magical solution that solves my problem with the sad state of bundlers...

[2016-08-16 03:05] TCMiranda commented on #8
Yea, I get your opinion. It just disappointing

@Marsup As the maintainer of such useful tool like Joi, you should sometimes put aside that philosophy in favor of the community.
We all know the state of JS and the bundling systems are a mess, but it wont magically solve itself.

The best way I know to deal with it is https://github.com/defunctzombie/package-browser-field-spec
It is also the most f

[2016-09-06 18:13] WilliamSWoodruff opened #9 "Support input masks"
Provide information in a config to make certain form fields numbers-only, alpha-numeric, be able to specify a pattern to format phone numbers for example: (207) XXX-XXXX

[2016-09-06 18:14] #9 closed

[2016-09-06 18:15] WilliamSWoodruff commented on #9
Sorry, was referencing this in another repo, wrong issues section!

[2016-09-06 18:25] jeffbski commented on #9
No worries. You caught it before I could even respond :-)

[2016-09-28 22:43] joeybaker opened #11 "Unable to get property 'add' of undefined or null reference"
We've been running joi-browser in prod for quite sometime, and it works great … except in IE 10 :\

![](https://cloudup.com/cCRqKn92F59+)

[2016-09-28 22:46] jeffbski commented on #11
That's really strange. Do you know why it technically has problems in IE 10?

Is there something we could polyfill to fix it?

[2016-09-28 22:47] joeybaker commented on #11
I have _no clue_! I've found this really odd, and can't see why IE would be different, but I haven't spent a ton of time digging into it.

[2016-09-28 22:51] joeybaker commented on #11
Whoops… I dug into the logs more, and found some instances where IE9 is affected to. A polyfill is likely the answer, I just don't know _what_ to polyfill.

[2016-09-28 22:55] joeybaker commented on #11
Edit: maybe https://github.com/hapijs/joi/blob/b252ea9efe66d622801cb9b7cb543c6e87718958/lib/any.js#L847 is the root cause? Maybe we need a shim for `Buffer`?

[2016-09-28 22:56] jeffbski commented on #11
That's certainly worth a try.

[2016-09-28 23:09] Marsup commented on #11
Unlikely considering the error. It didn't even manage to create the set (not the JS set, our internal set). Seems unlikely considering what it's doing.

[2016-09-30 13:21] Marsup commented on #11
Assuming it's still true, I'd say you're suffering from http://ricostacruz.com/til/babel-ie-class-inheritance.

[2016-09-30 16:17] joeybaker commented on #11
@Marsup that sounds like a likely candidate!

[2016-10-05 23:27] #11 closed

[2016-10-12 17:45] joeybaker commented on #11
Just following up: #12 seems to have fixed this issue. Thanks @Marsup!

[2016-10-26 14:13] krishnakumar-g opened #13 "new Map( ) undefined in IE 10"
Getting "**Map is undefined with new Map() method**" error in IE 10 with **joi-browser** latest version **9.1.0**

Refer the attached screenshot for more information and do the needful.

[2016-10-26 15:48] maitriyogin commented on #13
Hi,
I'm also getting this in phantomjs!
I'v followed the webpack instructions to the best of my knowledge but get this error when running in phantom :
ReferenceError: Can't find variable: Map

  :469
  :4646 in clone
  :107
  :439
  :30 in __webpack_require__
  :59
  :30 in __webpack_require__
  :50
  :10618
  :3 in webpackUniversalModuleDefinition
  :10620
TypeError: 'undefined' is not a function

[2016-10-26 16:46] jeffbski commented on #13
I guess we'll need to tweak babel, possibly including the corejs/babel polyfill for Map

[2016-10-26 19:44] maitriyogin commented on #13
hmm we're already including the babel-polyfill when we run e2e.
Is there anything else I should try and tweak ?

[code]

/Stephen.

[2016-10-28 10:30] krishnakumar-g commented on #13
Version **9.1.0** is not working in IE10, even when I added coreJS/babel polyfills.

It is working in IE10, when I changed the version to **9.0.0**. 'new Map()' is not there in this version and it is working fine.

Thanks for your quick reply and suggestions:)

[2016-11-24 17:35] k-sheth opened #14 "joi 10"
Hi,

Joi 10.x is out with joi-date-extensions. Not sure how that will play with joi-browser. Recommendations ??

Thanks,

[2016-11-26 00:52] jeffbski commented on #14
I'm not familiar with the change can you elaborate on what you are concerned with?

[2016-11-30 01:44] 6a68 commented on #14
@jeffbski Related question: are you planning to bump the version to catch up with Joi (currently at 10.0.1)?

[2016-11-30 13:46] k-sheth commented on #14
The joi release notes are here - [Joi 10.0 release notes](https://github.com/hapijs/joi/issues/1037)

Basically, to get Joi.date.format() related functionality we need to use joi-date-extensions now.
[joi-date-extensions](https://github.com/hapijs/joi-date-extensions)

My concern is that if we bump to joi-browser to joi 10, we will probably not be able to use joi.date.format and the whole point of

[2016-11-30 17:38] jeffbski commented on #14
@6a68 yes, I like to keep up as best I can with tracking joi. So we can release a new one here as soon as we figure out how to handle any changes in this major version bump.

@k-sheth thanks for linking to that. I'll take a look at it and see what I can figure out.

[2016-11-30 18:00] jeffbski commented on #14
I guess we have two options here:

1. create a new joi-date-extensions-browser
2. create pre-bundled version with or without the date extensions

In weighing the consequences, it seems like maybe option 1 is best. By doing that we are tracking exactly what joi is doing so there should be less confusion.

Also if one is building universal/isomorphic js apps and using the package.json browser map to

[2016-11-30 19:22] k-sheth commented on #14
@jeffbski : option 1 is cleaner. makes sense to go with that.

[2016-11-30 22:14] 6a68 commented on #14
@jeffbski Thanks for the update! Option 1 seems better to me as well.

[2016-12-08 18:24] k-sheth commented on #14
hello, thanks for the update. but it seems joi-extensions-date-browser isn't on github or npm yet.

[2016-12-08 18:45] jeffbski commented on #14
Yeah, I was having trouble with it. I might need other people's help to figure out what is going on. Basically when I try to use it using the BaseJoi.extend(JoiDateExtension) it is saying that BaseJoi isn't an instance of Joi so it throws an error. I'll upload the repo to github with a test and maybe we can figure out what is going on.

[2016-12-09 21:18] jeffbski commented on #14
I have joi-date-extensions-browser repo up now and I have a buildable example which reproduces the error. If any of you would mind taking a look to see if you have any ideas how to resolve. https://github.com/jeffbski/joi-date-extensions-browser/issues/1

I also detail the error on the README for joi-date-extensions-browser as well with the exact steps to install and build.

[2016-12-13 23:24] jeffbski commented on #14
@Marsup figured out that the webpack config was loading multiple instances of joi thus causing the problem in joi-date-extensions-browser/example/with-ext but I cannot determine what is wrong. In analyzing joi-browser and joi-date-extensions-browser they appear to be doing the right thing, but when I try to bring them together in a build, they are either pulling in both joi and joi-browser or two

[2016-12-14 22:26] jeffbski commented on #14
Since we still haven't figured out the issue with getting a build that can combine joi-browser and joi-date-extenstions-browser properly, I went ahead and created `joi-full` which is a universal package that will include the joi-date-extensions (and presumably other extensions in the future). It will work in node and in the browser (webpack and browserify).

Try it out and let me know if you have

[2016-12-20 08:44] Stas-Buzunko commented on #13
Hi, fixed it by importing Map to test bundler directly. Maybe not the best solution, but works. I had to import Promise as well
[code]

[2016-12-20 17:28] jeffbski commented on #13
@Stas-Buzunko thanks for reporting back. I guess we can add that to the readme and people can include those polyfills if they need them for their browsers. Probably not needed in most newer browsers.

[2016-12-20 17:46] jeffbski commented on #13
I've added a note to `joi-browser` and `joi-full` about how to add in Promise and Map polyfills if needed in th README's. Let me know if there is anything else you all think we need to do.

[2017-02-17 04:11] futurist opened #15 "TypeError: schema._validateWithOptions is not a function"
When transfer `joi` definition from server, then `JSON.parse` as below:

[code]

The throwed error is:

[code]

Seems the joi type schema cannot be transferred from remote, then convert using this lib?

Or there's something more usage I'm missing?

[2017-02-18 00:09] jeffbski commented on #15
@futurist Thanks for raising the issue. I'll take a look and see if I can figure out what you are running into here.

[2017-02-18 10:10] Marsup commented on #15
Joi objects are not serializable, you'd be missing the prototype. You have to have joi itself as well as the schemas on the client side. Maybe someday...

[2017-02-18 21:38] jeffbski commented on #15
Thanks for explaining that @Marsup!

[2017-04-18 17:13] danielraban opened #16 "Custom error message"
Is there a way to allow custom error messages?

I have tried:
`  ticketNumber: Joi.string().allow('').regex(/^(INC|ADR|TKT)\d{7,10}$/i).label('Ticket Number').options({
    language: {
      any: {
        allowOnly: 'Ticket Number must match this pattern: '
      },
      label: 'Ticket Number'
    }
  }),`

[2017-04-18 17:50] danielraban commented on #16
i have resolved the isssue for regex custom error messages use the following format: `ticketNumber: Joi.string().allow('').regex(/^(INC|ADR|TKT)\d{7,10}$/i).label('Ticket Number').options({
    language: {
      string: {
        regex: {
          base: 'must be in one of the follow formats: INC5484946, ADR5484946, or TKT5484946'
        }
      }
    }
  })`

[2017-04-18 17:50] #16 closed

[2017-05-22 09:07] export-mike opened #17 "Thoughts about Webpack Code splitting"
Interested to hear any thoughts you have on using joi-browser with webpack code splitting, would it result in lazy loading? or would it end up where everything is required upfront?

[2017-05-22 09:10] export-mike commented on #17
For example purposes: where you use a method that requires 'moment' or some other heavy dependency

```function date() { require.ensure('moment') }```

[2017-06-03 22:21] jeffbski commented on #17
I think the biggest issue is that everything that uses moment is expecting it to be available via synchronous require so the require.ensure returns a promise that one must wait for. So the code wouldn't be compatible as is. It would be nice if it was that easy.

[2017-07-11 13:32] rokoroku opened #19 "Uncaught ReferenceError: global is not defined"
_version_: `joi-browser@10.6.0`

When using bundled `joi-browser.js` or `joi-browser.min.js`, it throws following error:
[code]
It's for joi-**browser**, but it uses **global** which is an object available only in **Node.js**.

[2017-07-11 14:01] jeffbski commented on #19
uggh. thanks for reporting it. We will have to figure out how to work around this.

[2017-07-12 13:54] #19 closed

[2017-07-12 13:58] jeffbski commented on #19
This should be fixed in joi-browser@10.6.1

[2017-07-12 22:53] anatolikurtsevich opened #21 "Joi@10.6.1 fails w/ Buffer error"
I've updated to joi-browser@10.6.1 and now the following schema ```const schema = Joi.string().regex(/^[^*;:"'`()@&,]+$/)``` fails with Buffer error when I do ```schema.validate("Test*")```.

[2017-07-13 06:39] the-spyke commented on #21
Looks like the result #20 with setting `Buffer` to `mock` in Webpack's config.

[2017-07-14 12:32] igorescobar opened #22 "IE11-: Symbol is undefined"
This is how my package.json looks like:
[code]
And this error occurs when on IE11 and older browsers. EDGE/Chrome/Firefox/Safari works fine.

<img width="699" alt="screen shot 2017-07-14 at 13 30 11" src="https://user-images.githubusercontent.com/24032/28212278-98bd55ba-6898-11e7-894a-73c443c551a0.png">

Any idea on how to solve this?

[2017-07-14 13:58] igorescobar commented on #22
Thanks but turned out that I was requiring the `require('babel-polyfill');` on the wrong place... right after I was requiring joy etc so it raised this exception.

Thanks!

[2017-07-14 13:58] #22 closed

[2017-07-17 15:35] jeffbski commented on #21
Thanks for reporting this.

I am adding a karma test based on your example above so we can fix this.

I thought if we just set Buffer to true then it would fix it but it throws an error "Buffer is not included.". Do I need to import or include some polyfill in the config or something besides just setting the config flag to true?

[2017-07-17 17:53] the-spyke commented on #21
@jeffbski It seems working if I set `Buffer` to `true` and rebuild.

[2017-07-18 01:24] jeffbski commented on #21
@the-spyke wow, that's strange. At first I thought it was only with karma/phantom but it seems to be doing it from karma/ChromeHeadless too.

I have pushed up my branch if anyone has ideas
https://github.com/jeffbski/joi-browser/tree/fix-missing-buffer

[2017-07-18 05:21] HQarroum opened #23 "Github Releases + Bower"
I would like to know if you have planned to register this project on Bower? My suggestion would be to use Travis to compile the assets and push them into Github Releases on each new release.

This way Bower users would be at least able to use `joi-browser` even if you do not commit the dist/ folder in your repository.

[2017-07-18 14:07] jeffbski commented on #23
Thanks for asking. I hadn't really planned on registering on Bower, it seems that the majority seems to have moved away from that tool.

However since you can get all of the built packages through unpkg.com (which exposes things on npm), I believe that you can install using a URL with bower.

`bower install https://unpkg.com/joi-browser@10.6.1/dist/joi-browser.min.js`

This URL shows you all the v

[2017-07-18 16:29] HQarroum commented on #23
I agree that Bower is getting less traction, and less people are using in _new_ projects. I also agree that using `unpkg` would be a good solution for that, and yes it works for me.

We however lose semver native integration with bower (e.g `joi-browser#10.0.5`), but that would also be the case when used with Github Releases URLs anyway.

I'll definitely also drop `Bower` support for open-source p

[2017-07-18 16:29] #23 closed

[2017-07-21 12:34] ChrispCode opened #24 "Hoek problem when using max(joi.ref('someValue'), 'utf8')"
I tried to use the joi.max with ref inside and an error occure:
[code]
I think it has something to do with Hoek, I tried installing it, but it also didn't work!

[2017-07-25 14:03] jeffbski commented on #23
You can do some of the standard semver matching with unpkg.com so instead of using joi-browser#10.0.5 you can use forms like joi-browser^10.0.5. See the docs for all the forms they support.

[2017-07-25 15:13] the-spyke commented on #21
@jeffbski It shouldn't be strange. From Webpack's manual:
[code]

[2017-07-25 16:10] HQarroum commented on #23
Sure, however Bower won't support semver on `unpkg` resources if there are for instance concurrent `joi-browser` versions used by submodules of the project. The URL is opaque to Bower in the `dependencies` list.

Another disadvantage I see to using `unpkg` compared to Github Releases, is that it is not possible to retrieve the project archive containing the library *and* the `package.json` or `bow

[2017-07-25 18:18] jeffbski commented on #23
I wonder if there is a general solution for bower users that helps with the transition to npm?

I think you can request the package.json from unpkg using a separate request, so maybe there is a helper library that can request both and then use that to fetch dependencies??

[2017-07-25 18:23] jeffbski commented on #21
@the-spyke I meant that it is strange that I get an error when I try to do the same thing that worked for you. I agree that it should just work by setting that true. I just don't know how to fix the error I am seeing. I have everything up in the branch I linked above and running `npm test` throws the error above.

[2017-07-25 18:30] jeffbski commented on #24
@ChrispCode if you want to add a test to https://github.com/jeffbski/joi-browser/blob/master/src/basic.kmocha.js then I can try to resolve and make sure it stays working. PR is welcome or just provide the code and I can create.

[2017-07-25 18:34] HQarroum commented on #23
I've been looking to a solution with `unpkg`, and to my surprise didn't find anything really efficient to package all the project using a single unpkg.com URL in the dependency list. There is [bower-npm-resolver](https://github.com/mjeanroy/bower-npm-resolver), but it depends of course on npm to install the bower resolver, and that isn't always desirable.

Best solution I came for using bower is G

[2017-07-26 00:05] kamronbatman commented on #21
I can't wait for this to be fixed and the newest version supported.

[2017-07-26 00:41] jeffbski commented on #21
@kamronbatman joi-browser@10.6.1 is available, I think the only issue now is if one wants to use any joi features that rely on buffers like the example above. For some reason, when I enable the buffer polyfill a new error is thrown when one tries to use those features but yet it works for @the-spyke.

So I am at a loss as to how to resolve this with regards to the buffer polyfill.

Ideas are welco

[2017-07-26 19:05] ChrispCode commented on #24
@jeffbski I was able to go around this. I converted the values to numbers and then the utf8 encoding was unnecessary. Everything worked fine!

[2017-07-31 23:47] kamronbatman commented on #21
If Buffer doesn't exist, use this? https://www.npmjs.com/package/buffer

[2017-08-01 14:57] kamronbatman commented on #21
Correct, and I am using the newest webpack 2.x and babel.

[2017-08-01 21:12] the-spyke commented on #21
And I'm using Webpack 3.x.

[2017-08-02 13:32] jeffbski commented on #21
Thanks. Maybe I just need to upgrade these and everything will start working? That will be my next attempt.

[2017-08-02 13:41] jeffbski commented on #24
@ChrispCode thanks for following up. I'm glad you found a way to go forward. I'll close this but will keep the working on the buffer issue to see if we can figure out the issue. Might just need to upgrade webpack and babel.

[2017-08-02 13:41] #24 closed

[2017-08-03 10:00] UchihaVeha commented on #21
I have same Buffer error, how fix it?

[2017-08-03 17:20] kamronbatman commented on #21
Since I am using webpack with babel-loader (React/ES6), I just imported the newest joi, set webpack configuration to this:
[code]
And it worked!

Also I made a mistake, I am actually on Webpack 3.4.1.

[2017-08-04 13:29] jeffbski commented on #21
@kamronbatman Thanks for sharing, that is good news.

[2017-09-06 02:09] elyobo commented on #22
What is the target env for this package?  We use `transform-runtime` rather than the polyfill, so this is giving us some grief.

[2017-09-06 04:09] elyobo commented on #22
Ended up switching back to joi and using the config from this repo with the addition of `transform-runtime` to get it working.  Had to drop drop down to joi 10.2.2 to find a version that wasn't using `Array.prototype.find` as well.  Perhaps both of these issues should be mentioned as things that require polyfilling?

[2017-09-14 21:01] shai32 opened #27 "not supporting create react app"
in order to use joi-browser, we need to modify webpack.config.
but create react app does not allow us to change it (without ejecting)
so, this mean we can't use  joi-browser with create react app

[2017-09-15 13:43] jmgarciaromero commented on #21
Hi guys, I'm struggling to make it work. I'm using webpack@2.7.0, joi@10.6.0 and joi-browser@10.6.1, I have set `Buffer` to `true` as well, but the exception is always there:

[code]

I'm about to give up and go back to the previous version, but in that case I have the problem described in [this issue](https://github.com/hapijs/joi/issues/1301)

[2017-09-15 18:02] jeffbski commented on #21
So it sounds like this is an issue in webpack@2 that is fixed in webpack@3, if I am understanding correctly.

Was anyone able to get it working with webpack@2?

[2017-09-28 16:28] jmgarciaromero commented on #21
I just found out that my problem is linked to the existence of a question mark in the custom error message

`
selfEmployed: Joi.boolean().label('Are you self employed?'),
`

If I remove the question mark everything is fine...

[2017-09-28 17:58] kamronbatman commented on #21
@jmgarciaromero Does your issue go away with webpack 3.x without removing the question mark?

[2017-09-28 18:53] jmgarciaromero commented on #21
No it doesn't go away. We're using webpack 3.6.0.

I have tried everything that's been suggested in this thread but so far the only way to avoid the Buffer error is by removing special characters from the custom error message.

I also opened [this issue](https://github.com/hapijs/joi/issues/1317) for the Joi team.

[2017-09-29 04:47] raymondsze commented on #27
I think you can just
[code]

[2017-10-05 09:40] frosato-ekino commented on #21
@jeffbski @jmgarciaromero
Any updates about this issue ?
Any way to fix this without touching webpack config ?

**Stack:**
webpack "3.5.1",
joi-browser: "^10.6.1",

**Code:**
[code]
**Error:**
[code]
Error is thrown when typing the '/' of 'http:/'

[2017-10-05 09:59] jmgarciaromero commented on #21
The guys from Joi suggest it might be a bundling issue. As soon as they find out that you're using Joi for the client side and the issue is not reproducible on their target environment they immediately deny support, which I kind of understand even though their manners are not quite correct sometimes...

Take a look at Joi issue [#665](https://github.com/hapijs/joi/issues/665)

Sorry for not being

[2017-10-05 10:21] frosato-ekino commented on #21
@jmgarciaromero Thanks for your quick answer!
It's such a pity they are ignoring client side. Without regexp's validation the library become pointless. I'll let you know if i find a way to make it work.

[2017-10-24 14:15] jmgarciaromero commented on #21
I managed to build joi-browser with joi v12 or v13 (thanks to the joi team for that...) and the "Buffer not included" error is gone. I had to upgrade dependencies to use webpack 2 and karma-webpack 2.

Unfortunately when I run the tests I get an unexpected error output linked to the email validation

[code]
No clue about it... out of my basic expertise...

[2017-10-24 16:08] jeffbski commented on #21
Thanks for all your hard work on this @jmgarciaromero. I feel your pain. It was nice when joi natively supported both node.js and the browser. I tried to help by creating this package (which seemed to work for a while there), but now these errors that have cropped up are also outside of my expertise. Arrgh.

[2017-10-24 17:15] Marsup commented on #21
@jmgarciaromero can you provide a fork with bumped versions ?

[2017-10-24 19:52] kamronbatman commented on #21
@Marsup, I am very happy you saw this and are able to help!  Thank you!  I hope in the future joi will support React in some way shape or form.

[2017-10-27 07:24] jmgarciaromero commented on #21
Sorry guys for my late reply, you caught me in the middle of a move. Fork has been created on github, my first fork actually... should go and buy some champagne...

https://github.com/jmgarciaromero/joi-browser.git

I did not do anything special, just upgrade to joi 13.0.1, webpack 2.7.0 and karma-webpack 2.0.5 and adjust the config.

[2017-11-01 19:26] Marsup commented on #21
It's failing because Buffer is mocked, and `isemail` is using `Buffer.byteLength` all over the place, you have to at least unmock this one.

[2017-11-01 20:42] jeffbski commented on #21
Thanks @Marsup I think that's what started this whole conversation. When we tried to include the buffer polyfill it wasn't quite working, but it looked like it was on newer versions of the build tools.

[2017-11-01 21:46] Marsup commented on #21
When set to true it seems to work, was there any problem with that ?

[2017-11-01 23:53] jeffbski commented on #21
@Marsup it wasn't working at least with the old webpack. https://github.com/jeffbski/joi-browser/issues/21#issuecomment-315930941

[code]

I can try @jmgarciaromero's upgraded versions and see if that passes.

[2017-11-02 00:20] jeffbski commented on #21
@jmgarciaromero's upgrade looks promising, but there's still some work to get it running with Karma now (npm test fails). Hopefully using the newer version of these tools will solve the issue.

Current error in npm test which runs Karma is

ERROR in Entry module not found: Error: Cannot resolve 'file' or 'directory' /Users/jeff/projects/joi-browser/src/basic.kmocha.js in /Users/jeff/projects/joi-b

[2017-11-02 09:24] Marsup commented on #21
It works for me on his fork, just have to enable buffers.

[2017-11-02 11:27] jeffbski commented on #21
I have pulled fork into a branch (https://github.com/jeffbski/joi-browser/tree/jmgarciaromero-master) and enabled buffers with Buffer: true and I am much closer but still having one test failure running `npm test`.

[code]

[2017-11-02 11:52] Marsup commented on #21
To allow me some debugging I switched to karma chrome, might be why all my tests succeed. It doesn't make sense to keep using phantom imho.

[2017-11-02 13:29] jeffbski commented on #21
Thanks @Marsup phantom has always been a bit of a pain. I switched to ChromeHeadless so we can run in travis.

Everything works properly now in ChromeHeadless. I am cutting a release for 13.0.1

[2017-11-02 13:36] jeffbski commented on #21
published joi-browser@13.0.1 to npm

Thanks @Marsup and @jmgarciaromero and to everyone on this issue for your help in resolving this.

[2017-11-02 13:36] #21 closed

[2017-11-03 14:36] kevinfarrugia opened #30 "any.empty instead of any.required"
joi (v13.0.1) returns the type `any.required` while joi-browser (v13.0.1) returns type `any.empty` when a field that is marked as required is not completed.

[2017-11-06 16:20] jmgarciaromero commented on #21
Great news! I'll give it a try once we finish moving to the new building and I can continue working as usual...

[2017-11-08 13:23] BebeSparkelSparkel opened #31 "Assocated input attributes"
It would be nice to get the associated input attributes so that they could also be applied to the input element in case javascript is disabled.

Is there a way to get a list of the applied checks,
[code]

so that they could be mapped to html attributes to be added to the input?

[2017-11-08 18:50] jeffbski commented on #31
@BebeSparkelSparkel That seems like a reasonable idea. Could you post that over on the main Joi repo so the main Joi developers could consider adding it?

You can post over at https://github.com/hapijs/joi

Then it will flow down to this project after they add it to a future version of Joi.

[2017-11-08 18:50] #31 closed

[2017-11-08 18:52] jeffbski commented on #30
@kevinfarrugia Thanks for reporting the issue. That is very strange. I'm not sure what could cause that simply by bundling for the browser. Do you have an example you could post? Maybe put it in a gist and provide the link here? Thanks.

[2017-11-08 21:21] BebeSparkelSparkel commented on #31
Sure

[2017-11-09 08:42] kevinfarrugia commented on #30
@jeffbski That was my initial impression too.

I have created a Gist: https://gist.github.com/kevinfarrugia/76f996bd385ec283bb3059d93fda7f0b.

I also updated the OP and inverted them, i.e. joi-browser returns `any.required` while joi returns `any.empty`

[2017-11-11 00:30] rokoroku opened #32 "TypeError: undefined is not a constructor (evaluating 'email.normalize('NFC')')"
TypeError: undefined is not a constructor (evaluating 'email.normalize('NFC')')

Caused by calling [str.normalize()
](https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects/String/normalize)

String.prototype.normalize() is not supported in every browsers.
Adding polyfill like [unorm](https://github.com/walling/unorm) or just adding mock function returns itself fixes the iss

[2017-11-11 00:37] rokoroku commented on #32
Here's my simple workaround:
[code]

[2017-12-06 08:35] shai32 commented on #8
@Marsup please consider adding it.

[2017-12-07 07:58] ndabAP opened #33 "'return' can not be used as shorthand property (4840:8)"
Stepps I did:

1. `npm i joi joi-browser`
2. add alias `joi: 'joi-browser'` to webpack configuration
3. `import joi from 'joi-browser'`

[2017-12-07 08:13] ndabAP commented on #33
Solved it!

Reason was that `transform-loader`, I excluded `joi-browser`:

[code]

[2017-12-07 08:13] #33 closed

[2018-03-08 15:26] shaggrath2010 opened #36 "Write please normal documentation for custom error message"
Why i must go to your code for finding this json
`{
  "root": "value",
  "key": "\"{{!label}}\" ",
  "messages": {
    "wrapArrays": true
  },
  "any": {
    "unknown": "is not allowed",
    "invalid": "contains an invalid value",
    "empty": "is not allowed to be empty",
    "required": "is required",
    "allowOnly": "must be one of {{valids}}",
    "default": "threw an error when running defau

[2018-03-15 12:29] istana commented on #27
@shai32 I just used 'joi-browser' and it works nicely

[2018-03-16 08:45] yuschick opened #37 "Validating an Array of Objects Results in TypeError: "x" is read-only"
#### Context

* *node version*: 8.10
* *joi version*: 13.1.2
* *joi-browser version: 13.0.1
* *environment* (node, browser): Browser
* *used with* (hapi, standalone, ...): Standalone
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?
I am trying to achieve validating an array containing a variable amount of objects.

Describe your issue here, inclu

[2018-03-16 09:07] yuschick commented on #37
By creating a copy of the `items` array, I was able to make this work. Give me a few days and I can put together a more eloquent solution and make a PR. But for now:

[code]

[2018-03-16 10:51] yuschick commented on #37
I'm not sure how to do a PR for this since the fix exists in the `dist` directory which is built from the original Joi. Please advise how best to proceed with this.

[2018-05-07 09:44] yuschick commented on #37
In the event anybody sees this, I found the underlying issue.

I was using `joi-browser` in a Create React App application with Redux managing my state. After plenty of testing and workaround, I finally took a step back to see what the cause could be. I did this by hardcoding the dataset and schema from above and validating that and then trying to actual data and schema that was throwing the error

[2018-05-07 13:03] rocky-jaiswal commented on #37
I think the Array is an instance of Seamless-Immutable (https://github.com/rtfeldman/seamless-immutable/blob/master/src/seamless-immutable.js) and it is not a standard JS array. You should be able to convert it to a standard array using - https://github.com/rtfeldman/seamless-immutable#asmutable

[2018-05-14 22:11] idolizesc commented on #3
This was fixed, right?

[2018-06-14 10:49] keirlawson opened #38 "Email validation returning errors for valid emails in IE11"
[code]

This produces the following error: `"child "sender" fails because ["sender" must be a valid email]"` regardless of the email address in question on IE11 on Windows 10

[2018-06-14 23:07] jeffbski commented on #3
@idolizesc I believe it was, so I have built the latest versions of joi-browser so it should pull in that fix.

[2018-06-14 23:37] jeffbski commented on #38
@keirlawson see if the latest versions also do the same thing

[2018-06-15 08:14] keirlawson commented on #38
On the latest version (13.4.0) I now get `Object doesn't support property or method 'normalize'`

[2018-06-15 08:34] Marsup commented on #38
You need to have a shim for String.normalize, should be fairly easy to add to your build.

[2018-06-15 22:40] jeffbski commented on #38
@keirlawson in your project try installing the polyfill for String.prototype.normalize.

`npm install unorm`

Then just require it.

[code]

From compatibility tables, it looks like it is only necessary for IE and possibly Android.

See if that gets you working.

If so, we can add that to the documentation. I think we can just let users that need it add it in once at the app build level. If we bui

[2018-06-19 11:11] ospfranco opened #39 "Comparing two fields throws error"
Hey, I have this schema:

[code]

However on runtime when passwordConfirmation is supposed to be matched I get an exception:

[code]

It seems ref is not working properly?

[2018-09-04 11:39] emmaberglund commented on #38
I have the same problem. My email doesn't become a valid email. I tried to install unorm but it still doesn't work.

[2018-09-04 14:34] cjnqt commented on #38
var schema = joi.object({
    sender: joi.string().email().required()
})

joi.validate({ sender: 'foo@bar.com'}, schema)

This fails with the error `"child "sender" fails because ["sender" must be a valid email]"` in Internet Explorer 11 and latest version of both Joi-browser and Joi.
Adding String.normalize by `require('unorm')` doesn't make any difference.

[2018-12-04 17:29] sipi41 opened #40 "Numeric fields accepting invalid numeric values..."
I'm a newbie, learning React. I'm using joi-browser with Chrome. I created a basic numeric input with an onchange event validator and created my schema, but when I test on my browser, I can't enter letters but I can enter "eeeee" or "-----" and it display no errors at all, of course I know this is not a valid number but it seems not to be detected by joi-browser.  It works fine if I enter e20 or x

[2019-01-05 23:57] Gilbert1391 opened #41 "Not allowing empty string"
It seems like joi browser does not allow to have empty string. This is my schema:

` schema = {
    _id: Joi.string(),
    heading: Joi.string()
      .min(5)
      .max(50)
      .label("Heading")
      .required(),
    subHeading: Joi.string().max(50)
  };`

If I leave the subHeading field empty (because it is not a required field) I get an error: ""subHeading" is not allowed to be empty"

Is th

[2019-01-06 17:46] Gilbert1391 commented on #41
Yeah I tried that and for some reason I'm getting a 400 bad request. I am using Node.js for the back-end and I made sure that this field is not required in my modal, something I can confirm using Postman. This must be a joi related issue (or something else is wrong with my code). When catch the `error.response`  and print it on the console I get the following object:

`{data: ""subHeading" is not

[2019-01-06 18:00] Gilbert1391 commented on #41
Ok I solved the issue. In my back-end joi validation schema I had to add `allow("")` and then I also had to add the same piece of code in my front-end joi-browser validation schema.

It is weird though... How come using Postman I was not getting any errors when passing an empty string, the joi validation should've thrown an error because I didn't specify `allow('')`

[2019-01-06 19:12] Marsup commented on #41
Hard to tell without code.

[2019-08-20 13:19] NicTanghe opened #42 "Joi-browser inport not working."
#### Context

* *node version*: 6.10.2
* *joi version*: joi-browser@13.4.0
* *environment* (node, browser): node vscode react firefox
* *used with* (hapi, standalone, ...): standalone (i think)
* *any other relevant information*:

#### What are you trying to achieve or the steps to reproduce ?

 Import joi-browser with the following code

`import Joi from "joi-browser"`

The folder with the files

[2019-08-20 13:20] NicTanghe commented on #42
Note adding the .d.ts file only removes the error in vscode not in the browser.

[2019-08-20 13:41] NicTanghe commented on #42
var Joi = require("joi-browser"); also doesnt work and returns the following error in browser.

TypeError: Joi.String is not a function

[2019-08-20 15:09] NicTanghe commented on #42
i ws being stupid i capitalised the s in the Joi.string()

[2019-08-20 15:09] #42 closed

[2019-08-21 07:29] kemal-smaylov commented on #21
joi-browser which does not allow the use of many words in the label:
`Joi.required()
          .disallow('')
          // hack for joi-browser which does not allow the use of many words in the label.
          .label(field.title.split(' ').slice(0, 3).join(' '))`

[2019-10-17 01:39] tecnoloco opened #43 "Support for newer version of @hapi/joi"
Joi has changed a lot since version 13 and added multiple methods that are really useful. Are you planning on supporting newer versions?

[2019-10-17 07:00] Marsup commented on #43
There's no need, joi@16 supports browsers out of the box.

[2019-10-29 19:42] dr-impossible commented on #43
Except it doesn't, if you're using uglifyjs

[2019-10-29 22:08] Marsup commented on #43
Maybe you misconfigured it or you're using a very old version.

[2019-11-08 02:58] GUIEEN opened #46 "[question] Related with using joi-browser with typescript"
I'm trying to use joi-browser in my TS angular project, but not sure which way is the proper way to configure d.ts for joi-browser.

My approach was trying to use definition file on the  `@types/joi`, but the thing is I also need to install `joi` since that definition file require `import * as Module from 'joi';` on 1205 line

Can anyone let me know the proper way of configuration for this ?

[2019-12-01 08:32] AnimalInstinct opened #47 "Joi.ref doesnt works on password_confirmation"
Hi
  "joi-browser": "^13.4.0",
  "react": "^16.12.0",

trying to add validation to my registration form, got a problem with password confirmation. Valid and joi.ref doesnt works. I have tried different combinations from many different manuals, but no luck, it doesnt works.

password: Joi.string()
      .required()
      .min(8)
      .label("Password"),
password_confirmation: Joi.any()
      .requ

[2020-01-29 21:45] nlucero commented on #38
Is this still an issue? Was it ever fixed?

[2020-01-31 02:58] #46 closed

[2020-02-07 02:29] Cowwy commented on #36
Even after finding this section.
I still have no clue how to make it work, especially for overriding regex's error.
I'm surprise that the documentation doesn't even cover this important topic.

[2020-02-07 20:20] jeffbski commented on #36
You can get a reasonable message from regex failure by setting the name property. https://hapi.dev/family/joi/api/?v=12.1.0#stringregexpattern-name--options

If you would like a different option, file an issue in the source repo https://github.com/hapijs/joi

This repo was just for compiling the source into browser compatible form. Now that hapi/joi supports this natively this repo will not be nee

[2020-02-07 20:20] #36 closed

[2020-02-07 20:30] jeffbski commented on #38
You could raise an issue in the source repo hapi/joi https://github.com/hapijs/joi This repo was just trying to make it easier to use in the browser. Now that they are planning on supporting browsers natively, the need for this repo will eventually go away. Hopefully the developers might know why this is failing.

[2020-04-29 06:25] BasitMaqsood commented on #38
Joi-browser email validation allows user_email@gmail instead of user_email@gmail.com

[2020-10-21 10:52] nirav7707 commented on #40
can you copy your schema in the comment section?

[2020-10-21 13:27] sipi41 commented on #40
thanks for your answer.... sorry, I left React, now I'm going to Blazor,  thank you anyway.

[2020-10-21 13:27] #40 closed

[2021-04-16 09:20] jayeshmemorres commented on #47
sir If resolved? if resolved please provide solution

[2021-06-02 17:56] jitendrarchetu commented on #47
I am also facing same issue.

[2022-05-31 03:30] theuncrown opened #60 "Regex validation"
I wonder how to do regex validation
I can't use .Pattern
any documentation that I can read?

[2022-08-04 17:31] AlmTalal commented on #42
Hello Nic, I have the same error, how did you solve it ?